<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Accent Product Inventory</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="/javascripts/ejs.js"></script>
<style>
    body    { padding-top:50px; }
</style>