<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Accent Product Inventory</h1>
            <p>This is where it all goes</p>
            
            <form action="todos" method="post">
              info:<br>
              <input type="text" name="id" value="15"><br>
              <input type="submit" value="Submit"></form>'
            
            <ul>
              <% todoResults.forEach(function(row) { %>
                  <li><%= row.id %> - <%= row.info %></li>
              <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>